@using MBIN.Web.Models.User
@model MBIN.Web.Models.User.RegisterViewModel
@{
    ViewData["Title"] = "پایان ثبت نام";
}

<div class="alert alert-success" role="alert" dir="rtl">
    <p>@Model.UserName عزیز !</p>
    <p>ثبت نام شما با موفقیت انجام شد</p>
    <p>لینک فعال سازی حساب کاربری شما به ایمیل @Model.Email ارسال گردید</p>
</div>